<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand font-weight-bold" href="#"><img src='../../assets/images/Loghyo.png' alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-link text-uppercase secondry-color" href="#">Home<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase secondry-color" href="#">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase secondry-color" href="#">Products</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase secondry-color" href="#">Blog</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-heart"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>