.secondry-color {
  color: #b0b2bb !important;
}

.nav-link>.fa {
  color: #b0b2bb !important
}



.social a:hover {
  text-decoration: none;
}

button {
  color: #0a0f2e;
  color: #6f738e;
}

.btn-primary {
  background: #00b4ff !important
}

.nav-item:hover {
  border-bottom: 2px solid #00b4ff;
}

.nav-item.active {
  border-bottom: 2px solid #00b4ff;
}

.navbar {
  padding-bottom: 0rem !important
}
