<footer style="background: #0a0f2e" class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul>
                    <img src="../../assets/images/Logo.png" alt="logo" class="img-fluid text-white pb-3" />

                    <li>
                        <p>
                            Bazar is a premium Templates theme. Its extremely customizable,easy to use and fully responsive and retina ready.
                        </p>
                    </li>

                    <li>
                        <div class="media">
                            <i class="fa fa-map-marker" style="font-size: 16px"></i>
                            <div class="media-body">
                                <p class="mt-0 ml-2">183,Main Rd E,Australia</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <i class="fa fa-envelope-open" style="font-size: 16px"></i>
                            <div class="media-body">
                                <p class="mt-0 ml-2">contactbazar@demo.com</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <i class="fa fa-phone" style="font-size: 16px"></i>
                            <div class="media-body">
                                <p class="mt-0 ml-2">(001)2222-3333</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <h5 class="text-white text-uppercase mb-4">Information</h5>
                    <li class="m-2"> <a href="">About Us</a></li>
                    <li class="m-2"> <a href="">Contact Us</a></li>
                    <li class="m-2"> <a href="">Returns & Refunds</a></li>
                    <li class="m-2"> <a href="">Terms & Conditions</a></li>
                    <li class="m-2"> <a href="">FAQ,s</a></li>
                    <li class="m-2"> <a href="">Shipping Guide</a></li>
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <h5 class="text-white text-uppercase mb-4">Useful Link</h5>
                    <li class="m-2"> <a href="">Online Store</a></li>
                    <li class="m-2"> <a href="">Customer Services</a></li>
                    <li class="m-2"> <a href="">Promotions</a></li>
                    <li class="m-2"> <a href="">Top Brands</a></li>
                    <li class="m-2"> <a href="">Top Research</a></li>
                    <li class="m-2"> <a href="">Help & Support</a></li>
                </ul>

            </div>
        </div>
    </div>
    <hr class="my-4 bg-light" />
    <div class="container">
        <div class="row social py-3">
            <div class="col-sm">
                <p>@ 2018 <span style="color: #00b4ff">Bazar</span> reserved</p>
            </div>
            <div class="col-sm">
                <a href="" class="px-2"><img src="../../assets/images/payment.png " alt="img1 " height="20px " /></a>

            </div>
            <div class="col-sm">
                <a href=" " class="px-2"><i class="fa fa-facebook"></i></a>
                <a href=" " class="px-2"><i class="fa fa-twitter"></i></a>
                <a href=" " class="px-2"><i class="fa fa-pinterest-p"></i></a>
                <a href=" " class="px-2"><i class="fa fa-behance"></i></a>
                <a href=" " class="px-2"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>