<div class="container" style="margin-top: 100px;">
    <h4 class="text-uppercase ml-2 float-left pb-5">Latest Blog Post</h4>
    <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-interval="false" data-ride="carousel">
        <!--Controls-->
        <div class="controls-top float-right mb-5 mr-2">
            <a class="btn-floating" href="#multi-item-example2" data-slide="prev"><i class="fa fa-arrow-left"></i
        ></a> &nbsp;
            <a class="btn-floating" href="#multi-item-example2" data-slide="next"><i class="fa fa-arrow-right"></i
        ></a>
        </div>
        <!--/.Controls-->

        <!--Indicators-->
        <!-- <ol class="carousel-indicators float-right">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"><i class="fa fa-arrow-left "></i></li>
        <li data-target="#multi-item-example" data-slide-to="1"><i class="fa fa-arrow-left "></i></li>
    
      </ol> -->
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <div class="col-md-4" style="float: left">
                    <div class="card mb-2 h-100">
                        <img class="card-img-top" src="../../assets/images/lamp1.png" height="200" alt="Card image cap" />
                        <div class="card-body">
                            <h6 class="card-title font-weight-bold">Astruam itinasi ksiewrr</h6>
                            <p>25 January/18 | By Admin</p>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="float: left">
                    <div class="card mb-2 h-100">
                        <img class="card-img-top" src="../../assets/images/lamp-2.png" alt="Card image cap" height="200" />
                        <div class="card-body">
                            <h6 class="card-title font-weight-bold">Tesqaldad Andqeqrwq Kesli</h6>

                            <p>25 January/18 | By Admin</p>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="float: left">
                    <div class="card mb-2 h-100">
                        <img class="card-img-top" src="../../assets/images/halfshoe.png" alt="Card image cap" height="200" />
                        <div class="card-body">
                            <h6 class="card-title font-weight-bold">Kendryuaa Niguli Panisaa</h6>

                            <p>25 January/18 | By Admin</p>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
                <div class="col-md-4" style="float: left">
                    <div class="card mb-2 h-100">
                        <img class="card-img-top" src="../../assets/images/lamp-2.png" height="200" alt="Card image cap" />
                        <div class="card-body">
                            <h6 class="card-title font-weight-bold">Adutlisra Kenlis adad</h6>

                            <p>25 January/18 | By Admin</p>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="float: left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="../../assets/images/lamp1.png" alt="Card image cap" height="200" />
                        <div class="card-body">
                            <h6 class="card-title font-weight-bold">kisoliswq Anquire jeskli</h6>

                            <p>25 January/18 | By Admin</p>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="float: left">
                    <div class="card mb-2">
                        <img class="card-img-top" src="../../assets/images/lamp1.png" alt="Card image cap" height="200" />
                        <div class="card-body">
                            <h6 class="card-title font-weight-bold">Pgwtqjubdf Ansuare teslaz</h6>
                            <p>25 January/18 | By Admin</p>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Second slide-->
        </div>
        <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->

</div>